/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* reset ends here */

header {
    height: 80px;
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    background-size: 23%;
    position: relative;
}

#logo {
    height: 70px;
    padding: 10px;
    position: absolute;
    top: 10px;
}

.wrapper {
    width: 80%;
    margin: auto;
}

article {
    padding: 0 5px;
}

h1 {
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
}

.author-and-date {
    color: grey;
    font-family: 'Playfair Display', serif;
}

.The-Booleaner {
    text-decoration: none;
    color: #30AFE6;
}

.img-and-caption-wrapper {
    padding: 20px 0px 5px;
    font-size: small;
    font-weight: lighter;
}

.article-introduction {
    padding: 10px 0px 10px;
}

ul {
    list-style-position: inside;
}

table {
    padding: 10px 0;
}

.first-column, .second-column {
    width: 25%;
}

.third-column {
    width: 50%;
}

thead {
    background-color: #30AFE6;
    color: white;
}

tbody > tr:nth-of-type(odd) {
    background-color: #b1e5f2;
}

.other-posts-links {
    padding: 20px 5px 10px;
}

.interesting-posts {
    color: grey;
    display: block;
    
}

.first-suggested {
    height: 207px;
    width: 311px;
    position: relative;
    background-image: url('../img/monitor.jpg');
    position: relative;
    padding-top: 20px;
    top: 10px;
}

.second-suggested {
    height: 207px;
    width: 311px;
    position: relative;
    background-image: url('../img/graph.jpg');
    position: relative;
    top: 20px;
}

.suggested-title {
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
}