/* reset starts here */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* reset ends here */

header {
    height: 80px;
    background-image: url('../img/pattern.png');
    background-color: #4ea0ff;
    background-size: 23%;
    position: relative;
}

#logo {
    height: 70px;
    padding: 10px;
    position: absolute;
    top: 10px;
}

article {
    padding: 0 5px;
}

h1 {
    font-weight: bolder;
    font-family: 'Playfair Display', serif;
}

.author-and-date {
    color: grey;
    font-family: 'Playfair Display', serif;
}

.The-Booleaner {
    text-decoration: none;
    color: #30AFE6;
}

.img-and-caption-wrapper {
    padding: 20px 0px 5px;
    font-size: small;
    font-weight: lighter;
}

.article-introduction {
    padding: 10px 0px 10px;
}

ul {
    margin: auto;
}